<div class="product-filter">
  <mat-form-field>
    <mat-label>Filter Product List</mat-label>
    <input matInput [(ngModel)]="productFilter" (ngModelChange)="doFilter()">
  </mat-form-field>
</div>
<div class="product-gallery">
  <app-product-list-display
    [products]="filteredProducts"
  >

  </app-product-list-display>
<!--  <mat-card class="product" *ngFor="let product of filteredProducts">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>{{product.name}}</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>-->
<!--        {{product.description}}-->
<!--      </p>-->
<!--    </mat-card-content>-->
<!--    <mat-card-footer>-->
<!--      <button-->
<!--        mat-raised-button-->
<!--        color="primary"-->
<!--        routerLink="/product-page"-->
<!--        routerLinkActive="active"-->
<!--        [queryParams]="{id: product.id }"-->
<!--      >-->
<!--          View Product-->
<!--      </button>-->
<!--    </mat-card-footer>-->
<!--  </mat-card>-->
</div>
